.navbar
  border-radius: 0
  button
    color: white

.wage-slider,
.wage-breakdown
  text-align: center

.wage-slider
  height: 100%

.slider
  padding: 2em 0
  &#wage-slider
    width: 90%

.family-type
  text-align: center
